*{
	margin:0;
	padding:0;	
}
body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
  background-color: #444748;
}
a:link{
  color:white;
  text-decoration: none;
}
a:visited{
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}

img{
	display:block;
	margin:auto;
}

.caixa_foto {
    float: left;
    width: 450px;
    height: 300px;
    margin: 10px;
	padding:auto;
    border: 1px solid #73AD21;  
	border-radius:5px;
	text-align:center;
}
.after_fotos {
    clear: left;
    border: 1px solid #73AD21;
	border-radius:100px;
}

.espai{
	height:200px;
	
}

/*DropDown Start*/

nav{
   width: 1000px;
   margin: auto;
   position:fixed;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  background-color: black;
  width: 150px;
  vertical-align: top;
}
nav a{
  text-decoration: none;
  background-color: black;
  display: block;
  padding: 5px;
}
nav .horizontal_menu_li{
  display: inline-block;
  position: relative;
  margin:-3px;
}
nav .vertical_menu_ul{
  position: absolute;
}
nav .vertical_menu_li{
  display: none;
}
nav .horizontal_menu_li:hover .vertical_menu_li{
  display: block;
}