
body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
  /*background-color: #444748;*/
/*  background-image: url("../img/bgs/bg4.jpg");*/
}table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #101010;
  border-radius: 5px;

}

/*Links Config*/
a:link{
  color:white;
  text-decoration: none;
}
a:visited{
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}
/*Links Config Ends*/

/*DropDown Start*/

nav{
   width: 1000px;
   margin: auto;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  background-color: black;
  width: 150px;
  vertical-align: top;
}
nav a{
  text-decoration: none;
  background-color: black;
  display: block;
  padding: 5px;
}
nav .horizontal_menu_li{
  display: inline-block;
  position: relative;
  margin:-3px;
}
nav .vertical_menu_ul{
  position: absolute;
}
nav .vertical_menu_li{
  display: none;
}
nav .horizontal_menu_li:hover .vertical_menu_li{
  display: block;
}

/*DropDown End*/

#versions{
  margin-top: 70px;

}
