*{
  margin: 0px;
}
html, body{
  height: 100%
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 20px;
}
nav{
  position: fixed;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
nav a{
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
  line-height: 50px;
}
.sec {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.subSec{
  height: 25%;
  background-color: white;
}
.secU{
  background-image: url("../img/vanilla.png");
}
.secDos{
  background-image: url("../img/tbc.png");
}
.secTres{
  background-image: url("../img/wotlk.png");
}
.secQua{
  background-image: url("../img/cata.png");
}
.secCinc{
  background-image: url("../img/mop.png");
}
.secSis{
  background-image: url("../img/wod.png");
}
.secSet{
  background-image: url("../img/legion.png");
}

.text{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	text-decoration:none;
}
