*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.center {
  float:left;
  z-index: 3;
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  color:white;
}

table, tr, td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  color:white;
}
video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  z-index: 1;
}
.text{
  z-index: 2;
  position: absolute;
  color: white;
  background: black;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}
#dones {
  display: none;
}
#homes{
  display:block;
}

.classes{
  z-index: 3;
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  color:white;
}


