*{
  margin: 0;
  padding: 0;
}
video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  z-index: 1;
}
.text{
  z-index: 2;
  position: absolute;
  color: white;
  background: rgba(0,0,0,0.4);
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}
}table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #101010;
  border-radius: 5px;

}
