body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
  background-color: gray;
}

.efecte3D{
	/*width:240px;
	height:200px;*/
	margin:30px;
	/*float:left;*/

}
.efecte3D > .cara{
	/*position:absolute;*/
	transform: perspective( 600px ) rotateY( 0deg );
  background:#FC0;
	width:240px;
	height:200px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.efecte3D > .creu{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF;
	width:240px;
	height:200px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.efecte3D:hover > .cara{
	transform: perspective( 600px ) rotateY( -180deg );
}
.efecte3D:hover > .creu{
	transform: perspective( 600px ) rotateY( 0deg );
}
.dropdown-menu > li > a {
  color: red;
}
