
body{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: black;
  color:white;
}
button{
  color:black;
}
table, tr, td {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
}
#dones {
  display:none;
}
#homes{
  display:block;
}

.Humà:hover{
    .warr:display:none;
}

.warr{
  display:;
}
.pala{
  display:;
}
.pica{
  display:;
}
.caza{
  display:;
}
.sacer{
  display:;
}
.mage{
  display:;
}
.lock{
  display:;
}
.shami{
  display:;
}
.dudu{
  display:;
}

.classes{
  z-index: 3;
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
}
