*{
  margin: 0px;
  padding: 0px;
}

.main{
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  grid-column-gap: 30px;

  /*background parallax*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("bc.jpg");
  z-index: -1000
}
div{
  text-align: center;
  color: red;
}

div.object1{

  background-image: url("ali.jpg");
}


.img-fluid{
  width: 100%;
  height: 100%;
}
